[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
statsmodels = "*"
#scipy = "*"
scikit-learn = "*"
appjar = "*"

[requires]
python_version = "3.6.4"
